<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/App/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="http://127.0.0.1:5000/api/v1.0/index">欢迎使用基于MVC经典排序算法web演示系统</a>

    </div>
    <div class="pull-right">
        <ul class="nav navbar-nav">
            <a class="navbar-brand " href="http://127.0.0.1:5000/api/v1.0/login">登录</a>
            <a class="navbar-brand " href="http://127.0.0.1:5000/api/v1.0/register">注册</a>
            <a class="navbar-brand " href="http://127.0.0.1:5000/api/v1.0/admin">个人管理中心</a>
        </ul>
    </div>
    </div>
</nav>
    <div    align="center" >所有用户的动画信息都在这里，点击某个动画.gif将会下载该动画</div>
    {% for i in data %}
        <div style="font-size:20px; color:red;">用户 {{i.name}}生成的动画有</div>
        {% if i.all %}
        {% for j in i.all %}
        <div style="margin-left: 20px; font-size: 18px; color:green;">未排序序列：{{j.notsort}} + 动画速度{{j.speed}}</div>
            {% for k in j.pics %}
                <a style="margin-left: 40px; font-size:16px; color:blue" href="http://127.0.0.1:5000/api/v1.0/download/{{ k.id }}">{{k.name}}</a>
            {% endfor %}
        {% endfor %}
        {% else %}
    <div style="margin-left: 20px; font-size: 18px; color:green;">该用户目前没有创建任何动画</div>
    {% endif %}
    {% endfor %}


<script>


</script>
<script src="/App/static/js/jquery-3.2.1.min.js"></script>
<script src="/App/static/js/bootstrap.min.js"></script>
</body>
</html>